{% extends 'guest/base.html.twig' %}

        {% block metatitle %}
        <title>Pathfinding - Register</title>
        {% endblock metatitle %}

{% block main %}

<main class="login">
        <section class="container">
            <form action="submit.php" method="post">  
                <h3 class ="pdt-8 pdb-2">JOIN THE PATHFINDERS</h3>
                <div class="flex-center gap-4">
                    <div class="w45">
                        <label for="name">NAME</label>
                        <input type="text" id="name" name="name" placeholder="" required>
                    </div>
                    <div class="w45">
                        <label for="surname">SURNAME</label>
                        <input type="text" id="surname" name="surname" placeholder="" required>
                    </div>
                      
                    <div class="w45">
                        <label for="password">PASSWORD</label>
                        <input type="text" id="password" name="password" placeholder="" required>
                    </div>
                    <div class="w45">
                        <label for="confirmPass">CONFIRM PASSWORD</label>
                        <input type="text" id="confirmPass" name="confirmPass" placeholder="" required>
                    </div>
            
                    <div class="w45">
                        <label for="email">E-MAIL ADRESS</label>
                        <input type="text" id="email" name="email" placeholder="" required>
                    </div>
                    <div class="w45">
                        <label for="confirmEmail">CONFIRM E-MAIL</label>
                        <input type="text" id="confirmEmail" name="confirmEmail" placeholder="" required>
                    </div>
            
                    <div class="w45">
                        <label for="birthdate">DATE OF BIRTH</label>
                        <input type="date" id="birthdate" name="birthdate" required>
                    </div>
                    <div class="w45 pdt-2">
                        <button class="button-type-1 button-green" id="join" type="submit">JOIN</button>
                    </div>
                </div>
        </form>
        </section>
</main>

{% endblock main %}