{% extends 'user/base.html.twig' %}

        {% block metatitle %}
        <title>Admin Dashboard</title>
        {% endblock metatitle %}

{% block main %}

<main class="dashboard">
        <p>Admin</p>

        </section>
</main>

{% endblock main %}