#adventure-popup {
  display: none;
  position: absolute;
  background: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  z-index: 1000;
  border-radius: 10px;
  margin-top: 0.5rem;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);

&.visible {
    display: grid; // Devient visible + grille à 3 colonnes
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.adventure-selector {
  position: relative;

  label{
    display: block;
  }
}

#adventure-input {
  cursor: pointer;
}
