@use '../abstracts/index' as *;

// checkbox

.box-content {
    background: #f5f5f5;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: clamp(0.5rem, 1vw, 1rem);
    text-align: center;
    transition: all 0.3s ease;
    height: 7vw;
    width: 7vw;
    @include flex-center($direction: column); 
    box-shadow: 0 0 0 transparent;
    cursor: pointer; 

    i {
        font-size: clamp(0.75rem, 2.5vw, 2rem);
        color: #555;
    }

    img{
        width: 150%;
        height: auto;
    }

    @media (min-width: $breakpoint-lg) {
        height: 8vh;
        width: 8vh;
    }
}

input[type="checkbox"] {
    display: none;
}

label.adventure-box {
    padding: 0;
    @include flex(column, center, center);
        
    p, span {
        width: 100%;
        font-size: 1rem;
        text-align: center;
        color: #333;
    }
    
    input[type="checkbox"]:checked + .box-content {
            border-color: #4CAF50;
            background: #e8f5e9;
            transform: scale(1.05);
            box-shadow: 0 0 10px #4CAF50;
    }
}
    
/* Glow subtil au hover */
label:hover .box-content {
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5); /* Vert un peu diffus */
}