@use '../abstracts/index' as *;

// form general style
form{
    label {
    padding: 1rem 0 0.5rem 1rem;
    }

    input {
    padding-left: 1rem;
    height: clamp(2rem, 5vw, 3rem);
    width: 100%;
    border: 1px solid grey;
    border-radius: 25px;
    }

    input[type="number"] {
        height: clamp(2rem, 5vw, 3rem);
        width: 60%;
        min-width: 5rem;
    }

    select, textarea {
    padding-left: 1rem;
    height: clamp(2rem, 5vw, 3rem);
    width: 100%;
    border-radius: 25px;
    }

    label.field-error {
  color: #D84315;
    }

    .field-error {
    border: 2px solid #D84315;
    background-color: #ffe6e6;
    transition: all 0.3s ease;
    }

    .error-message {
    color: #D84315;
    font-size: 0.9rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
}
}


