@use '../abstracts/index' as *;

a.logo{
    margin-left: 5%;

    div{
    display: flex;
    align-items: center;
    gap: clamp(1rem, 1vw, 2rem);

        img{
            width: auto;
            height: 7.5vh;
            padding-bottom: 0.5rem;
        }

        h1{
            @media (max-width: $breakpoint-sm) {
                display: none;
            }
        }
    }
}