@use '../abstracts/index' as *;
@use '../base/globals' as global;

main.dashboard{
    width: 100%;
    h2{ color:black; }

    section{
    min-height: 100vh;

    div.flex-between{
        gap: clamp(1rem, 4vw, 3rem);
    }

    div.w35 {
        div.flex-start {
            gap: 2rem;
        }
        img{
            width: 24px;
            height: 18px;
        }
    }
    }


    .container-circle-1.relative {
        &:hover {
            .profile-hover-text {
                opacity: 1;
            }

            img {
                filter: brightness(50%);
            }
        }

        img {
            transition: filter 0.3s ease;
            object-fit: cover;
        }

        .profile-hover-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-weight: bold;
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
        }
    }
}

div.container-dash-1 {
    h2 {
        padding-left: 1rem;
    }

    .adventure-card{
        height: 15vw;
        width: 15vw;
    }
}

div.container-dash-2 {
    h2 {
    padding-left: 1rem;
    margin: 2rem 0 2rem 0;
    }

    // div{
    //     width: 100%;
    // }

    li{
        @extend .flex-start;
        padding-left: 1rem;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .container-circle-2{
        width:  clamp(2rem, 5vw, 6rem);
        height: clamp(2rem, 5vw, 6rem);
    }
}

a.manage-btn {
    i {
      font-size: 5vh; // icône très visible
      color: $secondary-color; // ou une autre couleur verte si tu veux
    }
  
    &:hover {
      i {
        transform: scale(1.1);
        transition: transform 0.2s ease;
        color: $primary-color;
      }
      p{ color: $primary-color;}
    }
}


