@use '../abstracts/index' as *;

main.index {
    h2{
        line-height: 10vh;
        color:black;
    }

    h2.mt-4 {
        margin-top: 5vh;
    }
    
    section{
        margin-bottom: 5vh;

        div.flex-evenly{
        width: 100%;
        flex-wrap: wrap ;

        @media (min-width: calc($breakpoint-md + 1px)) and (max-width: $breakpoint-lg) {
            gap: 5vh;
        }

        }

        .container-type-1 {
            @include container-shape($size: 25vw, $margin:0 ,$shape: rectangle-vertic);
            box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.6); /* Ombre intense */
            @include flex (column, flex-start, center);
    
            &:hover {
                background-color: rgba(46, 125, 50, 1);

                p {
                    color: white;
                }
            }

            img {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;       // L’image remplit le carré en coupant si nécessaire
                object-position: center; // Tu peux changer : top, bottom, left, right, 50% 30%, etc.
                display: block;
            }

            div{
                width: 100%;
                position: relative;
                overflow: hidden;
                border-radius: 25px;
                
                h4 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
                    text-align: center;
                    z-index: 1;
                    pointer-events: none;
                  }
            }
            p{  
                font-size: clamp(1rem, 1.5vw, 1.5rem);
                padding: clamp(0.5rem, 2vh, 2rem) 0 clamp(0.5rem, 2vh, 2rem) 0;
                display: block;
                width: 90%;
                text-align: justify;
                margin: 0 auto;

            }

            @media (max-width: $breakpoint-md) {
                width: 75vw;
                height: 125vw;
                min-height: fit-content;
                p{  
                    font-size: clamp(1.25rem, 5vw, 2rem);
                }
            }
            @media (min-width: calc($breakpoint-md + 1px)) and (max-width: $breakpoint-lg) {
                @include container-shape($size: 90vw, $margin:0 ,$shape: rectangle-horz);
                height: calc(90vw*0.30);
                flex-direction: row;
                p{  
                    font-size: clamp(1.25rem, 3vw, 2rem);
                }
                div.w30{
                    height: 100%;
                    width: 45%;
                }

            }
            // À partir de 1200px (grands écrans), on définit la largeur à 80%
            @media (min-width: $breakpoint-xxl) {
                max-width: 20vw;
                max-height: calc(20vw + 280px);
            }

        }
    
        div.flex-cl-evenly{
            width: 100%;
            height: 90%;
            }
    
// 2nd part of the section
        .container-type-2 {
                box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.6); /* Ombre intense */
    
                &:hover {
                    background-color: rgba(46, 125, 50, 1);
    
                    h5, p {
                        color: white;
                    }
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;       // L’image remplit le carré en coupant si nécessaire
                    object-position: center; // Tu peux changer : top, bottom, left, right, 50% 30%, etc.
                    display: block;
                    border-radius: 25px;
                }

                div{
                    width: 47.5%;
                    height: 85%;
                }

                a{ 
                    width: 47.5%;
                    height: 85%;

                    div{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    
                    span {
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
                        text-align: center;
                        z-index: 1;
                      }
                }
                }

                h5, p { 
                    color:black;
                    font-size: 1.5rem;
                    padding: clamp(0.5rem, 2vh, 2rem) 0 clamp(0.5rem, 2vh, 2rem) 0;
                    display: block;
                    width: 90%;
                    text-align: right;
                    margin: 0 auto;
                }

                h5 {
                    padding: clamp(0.5rem, 2vh, 2rem) 0 0 0;
                }
            
                
                @media (max-width: $breakpoint-md) {
                    @include container-shape($size: 95vw, $margin:0 ,$shape: rectangle-vertic);
                    height: 115vw;
                    min-height: fit-content;
                    border-radius: 25px;
                    flex-direction: column;

                    p{  
                        font-size: clamp(1.25rem, 5vw, 2rem);
                    }

                    div, a{
                        width: 100%;
                    }

                    h5, p {
                        text-align: justify;
                    }

                    div.flex-cl-center {
                        justify-content: flex-start;
                    }
                }
                @media (min-width: calc($breakpoint-md + 1px)) and (max-width: $breakpoint-lg) {
                    @include container-shape($size: 90vw, $margin:0 ,$shape: rectangle-horz);
                    flex-direction: row;
                }

                @media (min-width: calc($breakpoint-lg + 1px)) and (max-width: $breakpoint-xl) {
                    @include container-shape($size: 85vw, $margin:0 ,$shape: rectangle-horz);
                    flex-direction: row;
                }
            }

            div.container-type-2:nth-of-type(even) {
                @media (max-width: $breakpoint-md) {
                    flex-direction: column-reverse;
            }
            }

            div.container-type-2:nth-of-type(even) div:first-of-type h5, div.container-type-2:nth-of-type(even) div:first-of-type p {
                text-align: left;
            }  
    }
}