{% extends 'user/base.html.twig' %}

        {% block metatitle %}
        <title>
            Pathfinder - 
            {% if adventure.title %} 
                {{ adventure.title }}  
            {% else %}
                Adventure not found
            {% endif %}
        </title>
        {% endblock metatitle %}

{% block main %}
<main class="adv-main">
        <section class="container">
            <div class="w100 flex-between pdt-8">
                <div class="flex-start gap-2">
                    <a class="container-circle-2" href="dashboard-user.controller.php">
                        <i class="fas fa-arrow-left" src="../assets/img/LiveTrack.jpeg" alt=""></i>
                    </a> 
                    <h2>ADVENTURE TITLE</h2>
                </div>
                <div class="w25">
                    <p class="button-type-2 button-green" href="">ACHIEVED</p>
                </div>
            </div>

            <div class="w100 flex-between mt-8">
                    <div class="d-flex just-space-btw w100">
                        <div class="w45 pdr-4">
                            <div class="adventure-card-xl">
                            <img src="../assets/img/shiretoko3.jpg" alt="">
                            </div>
                        </div>
                        <div class="w55">
                            <div class="flex-between">
                                <div>
                                    <div class="adventure-card">
                                    <img src="../assets/img/shiretoko3.jpg" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="adventure-card">
                                    <img src="../assets/img/akanMashu4.jpg" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="adventure-card">
                                    <img src="../assets/img/rishiri_island2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="flex-start gap-8">
                                <div class="pdt-1 pdb-1 flex-end">
                                    <label for="picture-upload" class="button-type-3 button-white">
                                        Add pictures
                                    </label>
                                    <input type="file" id="picture-upload" name="pictures" multiple class="upload-input" />
                                </div>
                                <div class="pdt-1 pdb-1 flex-end">
                                    <button class="button-type-3 button-white" id="submit" type="submit">Remove pictures</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="w100">
                <h4>DESCRIPTION</h4>
                <p class="pdl-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.
                </p>
            </div>

            <div class="line-x-separator"></div>

            <form class="w100 flex-between mt-4" action="submit.php" method="post">
                <div class="w60 flex-cl-end mb-4">
                    <!-- Champ de glisser-déposer -->
                    <div class="w100 flex-between-top">
                        <h3 class="mt-2">FILES & GENERAL SETTINGS</h3>
                        <div>
                            <div class="upload-container">
                                <label for="file-upload" class="upload-label">
                                    Add files
                                </label>
                                <input type="file" id="file-upload" name="files" multiple class="upload-input" />
                            </div>
                        </div>
                    </div>
                    <!-- Affichage des fichiers uploadés -->
                    <div class="uploaded-files" id="uploaded-files-container">
                    <!-- Les fichiers téléchargés seront affichés ici -->
                    </div>
                </div>

                <div class="w35 h100 flex-between">   
                        <div class="w45 vh30 flex-cl-between">
                            <div class="w100">
                                <label class="d-block" for="status">STATUS</label>
                                    <select name="status" id="status" required>
                                        <option value="status1" selected>Preparation</option>
                                        <option value="status3">Achieved</option>
                                    </select>
                            </div>
                            <div class="w100">
                                <label class="d-block" for="visibility">VISIBILITY</label>
                                <select name="visibility" id="visibility" required>
                                    <option value="privacy1" selected>Private</option>
                                    <option value="privacy2">Public</option>
                                    <option value="privacy_list1">Private list 1</option>
                                    <option value="privacy_list2">Private list 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="w45 vh30 flex-cl-between">
                            <div class="w100">
                                <label class="d-block" for="start_date">START DATE</label>
                                <input type="datetime-local" id="start_date" name="start_date" placeholder="" required>
                            </div>
                            <div class="w100">
                                <label class="d-block" for="end_date">EXPECTED END DATE</label>
                                <input type="datetime-local" id="ex_end_date" name="ex_end_date" placeholder="" required>
                            </div>
                            <div class="w100">
                                <label class="d-block" for="end_date">REAL END DATE</label>
                                <input type="datetime-local" id="r_end_date" name="r_end_date" placeholder="" required>
                            </div>
                        </div>
                    </div>
            </form>
        </section>

        <section id="GPSTrack" class="container">
            <div class="line-x-separator"></div>
            <div class="w100 flex-between mt-4">
                <div class="flex-start w45">
                    <h2>GPS TRACK</h2>
                </div>
                <div class="flex-end w45  pdb-2 pdr-2">
                    <span>Live Track</span>
                    <label class="toggle-btn">
                        <input type="checkbox" id="toggleButtonLive" name="statusLive">
                        <div class="slider">
                        <div class="ball"></div>
                        <span class="btn-text"></span>
                        </div>
                    </label>
                </div>
            </div>
            
            <div class="container-type-3 shadow-black">
            </div>
            <form class="w100" action="submit.php" method="post"> 
                <div class="w100 flex-between mt-4">
                    <div class="flex-start w30">
                        <h3 class="mt-2 mb-2 gap-2">SAFETY ALERT</h3>
                        <label class="toggle-btn">
                            <input type="checkbox" id="toggleButtonSafety" name="statusSafety">
                            <div class="slider">
                            <div class="ball"></div>
                            <span class="btn-text"></span>
                            </div>
                        </label>
                    </div>
                    <div class="w30">
                                <label for="timerAlert">Set alert timer</label>
                                <!-- Formulaire pour définir la durée -->
                                <div class="timer-container">
                                    <input type="number" id="hours" name="hours" placeholder="hrs." min="0">
                                    <input type="number" id="minutes" name="minutes" placeholder="min." min="0" max="59">
                                    <input type="number" id="seconds" name="seconds" placeholder="sec." min="0" max="59">
                                </div>
                            </div>
                    <div class="w30">
                        <label for="objet">Contact list</label>
                        <select class="mt-1" name="objet" id="objet" required>
                            <option value="" selected>Default list</option>
                            <option value="object1">List 1</option>
                            <option value="object1">List 2</option>
                            <option value="object2">List 3</option>
                        </select>
                    </div>
                </div>
                
                <div class="w100 pdt-4 pdb-4 flex-end">
                    <button id="submit" class="button-type-4" type="submit">SAVE</button>
                </div>
            </form>
            </div>
        </section>
</main>

{% endblock main %}

{% block script %}
<script src="../js/features_check.js" defer></script>
{% endblock script %}
