{% extends 'user/base.html.twig' %}

        {% block metatitle %}
        <title>Pathfinding - Contact Manager</title>
        {% endblock metatitle %}

{% block main %}

<main class="contact-manager-main">
<section class="container">
        <div class="flex-start gap-2 pdt-8 pdb-2">
            <a class="container-circle-2" href="dashboard-user.controller.php">
                <i class="fas fa-arrow-left" src="../assets/img/LiveTrack.jpeg" alt=""></i>
            </a> 
            <h2>CONTACT MANAGEMENT</h2>
        </div>
        <div class="container-type-3 shadow-black">
            <form action="submit.php" id="form-1" class="container-90" method="post">
                <div class="flex-evenly gap-4 h80">
                    <div class="container-contact">
                        <h3>Contacts</h3>
                        <div>
                            <p>Favorite contacts are indicated by a star (min. 2 / max 5)</p>
                            <div class="contact-list" id="favorites">
                                <!-- Affichage des contacts favoris avec une étoile-->
                                <!-- La liste complète des contacts ajoutés par ordre alphabétique sera visible ici -->
                            </div>
                        </div>
                    </div>
    
                    <div class="container-contact">
                        <div class="w100 d-flex">
                            <div>
                                <label for="objet">Select the safety contact list to update</label>
                                <select class="mt-1" name="objet" id="objet" required>
                                    <option value="" selected>Default list</option>
                                    <option value="object1">List 1</option>
                                    <option value="object1">List 2</option>
                                    <option value="object2">List 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="w100">
                            <p>Select up to 5 contacts</p>
                            <div>
                                <label for="safety-list" class="contact-list">
                                    Glisser-Déposer les contacts
                                </label>
                                <input type="file" id="safety-list" name="safety-list" multiple class="upload-input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w100 flex-end pdt-4">
                    <!-- Chaque utilisateur dispose de 4 listes : 1 liste défault contenant à minima les 2 contacts favoris
                    et 3 listes personnalisés contenant 1 à 5 contacts (2 mini. recommandé). 
                    Si la liste contient 0 contact alors elle ne peut pas être sélectionnée sur les autres pages. -->
                    <button id="submit" class="button-type-4" type="submit">Save</button>
                </div>
            </form>
        </div>
    </section>


    <section class="container">
        <h2 class="pdt-8 pdb-2">NEW CONTACT</h2>
        <div class="container-type-3 shadow-black">
            <form action="submit.php" method="post">
                <div class="container-90 flex-evenly gap-4">
                    <div class="w50 d-flex wrap gap-4">
                        <div class="w45">
                            <label for="name">NAME</label>
                            <input type="text" id="name" name="name" placeholder="" required>
                        </div>
                        <div class="w45">
                            <label for="surname">SURNAME</label>
                            <input type="text" id="surname" name="surname" placeholder="" required>
                        </div>
                        <div class="w45">
                            <label for="email">E-MAIL ADRESS</label>
                            <input type="text" id="email" name="email" placeholder="" required>
                        </div> 
                        <div class="w45">
                            <label for="phone">PHONE NUMBER</label>
                            <input type="text" id="phone" name="phone" placeholder="starting by +" required>
                        </div>
                        <!-- Checkbox for view authorization -->
                        <div class="w100">
                            <p>VIEW AUTHORIZATION</p>
                            <div class="checkbox-grid w90">
                                <label class="adventure-box">
                                    <input type="checkbox" name="adventures[]" value="achieved">
                                        <div class="box-content">
                                            <i class="fas fa-flag-checkered"></i> 
                                        </div>
                                        <p>Achieved</p>
                                </label>
                                <label class="adventure-box">
                                    <input type="checkbox" name="adventures[]" value="in_progress">
                                        <div class="box-content">
                                            <i class="fas fa-rocket"></i>
                                        </div>
                                        <p>In progress</p>
                                </label>
                                <label class="adventure-box">
                                    <input type="checkbox" name="adventures[]" value="preparation">
                                        <div class="box-content">
                                            <i class="fas fa-compass"></i>
                                        </div>
                                        <p>Preparation</p>
                                </label>
                                <label class="adventure-box">
                                    <input type="checkbox" name="adventures[]" value="shared_links">
                                        <div class="box-content">
                                            <i class="fas fa-link"></i>
                                        </div>
                                        <p>Shared links only</p>
                                </label>
                            </div>
                        </div>
                        <div class="w90 d-flex">
                            <div class="w35">
                                <label for="objet">Contact list</label>
                                <select class="mt-1" name="objet" id="objet" required>
                                    <option value="" selected>Default list</option>
                                    <option value="object1">List 1</option>
                                    <option value="object1">List 2</option>
                                    <option value="object2">List 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
    
                    <div class="w50 flex-end wrap gap-4">
                        <div class="w100 flex-end wrap">
                            <p class="w100 pdl-2 pdb-1 flex-start">BIRTH DATE</p>
                            <div class="w40 gap-1">
                                <label for="day">DAY : </label>
                                <input type="number" name="day" min="1" max="31" placeholder="Day (optional)">
                            </div>
                            <div class="w60 flex-end gap-1">
                                <label for="overeigh_teen">MONTH/YEAR : </label>
                                <input class="w40" type="month" id="over_eighteen" name="over_eighteen" placeholder="" required>
                            </div>
                        </div>
                        <div class="w100 flex-end">
                            <div class="adventure-card flex-end">
                                <label for="picture-profil-upload" class="upload-label">
                                    Click here to add a profil picture
                                </label>
                                <input type="file" id="picture-profil-upload" name="picture-profil-upload" multiple class="upload-input" />
                            </div>
                        </div>
                        <div class="w100 flex-end">
                            <div class="w100 flex-end pdt-2">
                                <button id="submit" class="button-type-4" type="submit">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

{% endblock main %}