{% extends 'user/base.html.twig' %}

        {% block metatitle %}
        <title>Pathfinder - Discover</title>
        {% endblock metatitle %}

{% block main %}

<main class="dashboard">
      TEST
</main>

{% endblock main %}